<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1521967906867-14ec9d64bee8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <P>THIS IS LOCAL, REMOVE AFTER</p>
    <h1>Movies bring <strong>happiness</strong></h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<div class="container mt-3" data-aos="fade-up">
  <h3>Your Lists</h3>
  <%= link_to new_list_path do %>
    <i id="add" class="fas fa-plus-square"></i>
  <% end  %>
  <div data-aos="fade-up" class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("https://source.unsplash.com/1600x900/#{list.name}") %>)">
        <%= list.name %>
        <%= link_to list_path(list), method: :delete, data: { confirm: "Destroy #{list.name}?" }, class: 'card-destroy' do %>
          <i id="delete" class="far fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
